/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Debug/
/Release/
/x64/
/out/

# vcpkg build outputs
/vcpkg_installed/
/vcpkg/downloads/
/vcpkg/buildtrees/
/vcpkg/packages/

# VS user stuff
*.suo
*.user
*.VC.db
*.VC.opendb

# IDEs
.vscode/
.idea/
